:root {
    /* Colores */
    --color-rosado: #DF40F5;
    --color-rosetViolet: #B542FF;
    --color-Violet: #7D48E8;
    --color-secondary: #181d20;
    --color-nav-text: #252422;
    --color-terciary: #4E42FF;
    --color-cuaternary: #4065F5;
    --color-elegant: #ffffff;
    --color-elegantBlack: #000000;
    --familia-letras: muli, sans-serif;
    }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    background: var(--color-elegant);
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 nav .logo {
     color: var(--color-rosado);
     font-size: 3.5rem;
     line-height: 8rem;
     padding: 0 0 0 50px;
     font-family: 'Roboto', sans-serif;
     font-style: normal;
     font-weight: 500;
 }

nav .logo--color2 {
    color: var(--color-rosetViolet);
    padding: 0 0 0 0;
}
nav .logo--color3 {
    color: var(--color-Violet);
    padding: 0 0 0 0;
}
nav .logo--color4 {
    color: var(--color-secondary);
    padding: 0 0 0 0;
}

 nav ul {
     float: right;
     margin-right: 20px;
 }

 nav ul li {
     display: inline-block;
     line-height: 8rem;
     margin: 0 5px;
 }

 nav ul li a {
     color: var(--color-elegantBlack);
     font-size: 1.7rem;
     padding: 7px 13px;
     border-radius: 3px;
     text-transform: uppercase;
 }

 nav .nav__link-about {
     display: inline-block;
     line-height: 8rem;
     margin: 0 40px 0 0;
 }

 nav .nav__link-about a {
     color: var(--color-elegantBlack);
     font-size: 1.7rem;
     padding: 7px 13px;
     border-radius: 3px;
     text-transform: uppercase;
 }

 header .header__link-news {
    color: var(--color-elegantBlack);
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    margin: 0 5px;
 }

 a .active, a:hover {
     background: #f0e1f0;
     transition: .5s;
 }
 
 .checkbtn {
     font-size: 3rem;
     color: var(--color-elegantBlack);
     float: right;
     line-height: 8rem;
     margin-right: 40px;
     cursor: pointer;
     display: none;
 }

 #check {
     display: none;
 }








/* header .header__nav {
    width: 100%;
    height: auto;
}

header .header__nav .nav__container {
    width: 100%;
    display: flex;
    padding: 15px 30px 15px 30px;
    justify-content: space-between;
}
header .nav__container img {
    width: 110px;
    height: 60px;
}

header .nav__container nav {
    display: flex;
    align-items: center;
}

header .nav__container nav li {
    display: inline-block;
    padding: 0 10px 0 10px;
}

header .nav__container nav li a {
    font-size: 1.4rem;
} */